/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, p, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2%;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;    
}


/* Header styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.headerWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

.headerList {
    display: flex;
    flex-wrap: wrap;
}

.headerItem {
    margin-right: 57px;
}

.headerItem:last-child {
    margin-right: 0px;
}

.headerLink {
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.headerLink:hover, .headerLink:active {
    color: brown;
}

.headerShopLogo {
    display: flex;
    align-items: center; 
    gap: 20px;
}



/* Header styles end */


/* Intro styles start */

.Intro {
    min-height: 100vh;
    padding-top: 70px;
}

.Banner1 {
    width: 100%;
    display: block;    
    margin-bottom: 80px;    
}

.CategoriesTitle {
    font-size: 22px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 80px;   
}

.CategoriesTitle:hover, .CategoriesTitle:active {
    color: brown;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

}

.categoryItem {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.categoryImage {
    max-width: 100%;
    height: auto;
}

.categoryImage:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


.categoryTitle {
    margin-top: 5px;
    margin-bottom: 40px;    
}

/* Intro styles end */


/* Product, Second banner styles start */

.Products {
    min-width: 100vh;
}

.productItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
  }

.productItem {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.productImage {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    margin-bottom: 40px;
}


.productTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.productDesc {
    line-height: 32px;
    color: #777;
    margin-bottom: 50px;
    word-break: break-all;
    width: 252px;
}

.addToCart {
    background-color: #861111;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 32px;
    transition: background-color 0.3s;
}

.addToCart:hover {
    background-color: #5c0a0a;
}

.seeMore {
    text-align: center;
}

.seeMoreLink {
    display: inline-block;
    padding-right: 30px;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #5c0a0a;
    background: url("../img/logo/arrow-right.png") no-repeat 95% center;
    transition: .2s all;
    margin-bottom: 50px;

}

.seeMoreLink:hover {
    background: url("../img/logo/arrow-right.png") no-repeat right center;
    color: #9e0505;
}

.secondBanner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* Product styles, Second banner end */

.footer {
    position: absolute;
    width: 100%;
    padding-bottom: 100px;
    background-color: #720E10;
}

.footerBack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
    padding-top: 45px;
}

.infoItem {
    font-weight: 700;
}

.infoTitle {
    color: white;
    padding-bottom: 20px;
}

.infoDesc {
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 16px;
}

.infoLink {
    color: black;
    text-decoration: none;
    transition: .2s all;
}

.infoLink:hover {
    color: white;
}

.infoItems {
    display: flex;
    justify-content: right;
}