# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# dotenv
.env

# VS Code
.vscode/

# MacOS / Windows
.DS_Store
Thumbs.db

# SQLite or other temp files
*.db
*.sqlite3

# Logs
*.log


temp/